nav
{
   background-color:bisque;
   padding:10;
}
nav a
{
   margin-right: 190;
   color:black;
   font-weight: bold;

}
body
{
   margin:0;
   font-family:'Segoe UI',sans-serif;
   background:linear-gradient;
}
header
{
   background:liner-gradient;
   text-align:center;
   padding:25;
}
.card {
    background: white;
    width: 80%;
    margin: 40px auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    transition: 0.3s;
}
.card:hover {
    transform: scale(1.02);
}
footer
{
   text-align:center;
   background-color:darkblue;
   color:white;
   padding:15px;
   margin-top:40px;
}
.web
{
   text-align:center;
   padding:60px;
   backgroumd-size:cover;
   color:white;
}
   /* ========================= */
/* ABOUT PAGE STYLING START */
/* ========================= */

.about-section {
    padding: 40px;
    background-color: white;
}

.section-title {
    text-align: center;
    margin-bottom: 30px;
    color: #002147;
}

.about-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
}

.image-section img {
    width: 280px;
    border-radius: 8px;
}

.text-section {
    flex: 1;
    font-size: 16px;
    line-height: 1.7;
    color: #333;
}

/* ========================= */
/* ABOUT PAGE STYLING END */
/* ========================= */





