nav
{
   background-color:bisque;
   padding:10;
}
nav a
{
   margin-right: 190;
   color:black;
   font-weight: bold;

}
body
{
   margin:0;
   font-family:'Segoe UI',sans-serif;
   background:linear-gradient;
}
header
{
   background:liner-gradient;
   text-align:center;
   padding:25;
}

